{% extends 'scannerapp/layout.html' %}

{% block content %}

<div class="table-responsive">
    <table id="dataTableCopil" width="100%" class="table table-striped table-lightfont">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nume</th>
          <th>Prenume</th>
          <th>CNP</th>
          <th>Telefon</th>
          <th>Serie Buletin</th>
          <th>Liceu</th>
      </thead>
      <tfoot>
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>CNP</th>
            <th>Telefon</th>
            <th>Serie Buletin</th>
            <th>Liceu</th>
        </tr>
      </tfoot>
      <tbody>
     </tbody>
    </table>
</div>

<br><br><br>

<div class="table-responsive">
    <table id="dataTablePlata" width="100%" class="table table-striped table-lightfont">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nume Copil</th>
          <th>Prenume Copil</th>
          <th>Telefon Copil</th>
          <th>CNP Copil</th>
          <th>Data Creare</th>
      </thead>
      <tfoot>
        <tr>
            <th>ID</th>
          <th>Nume Copil</th>
          <th>Prenume Copil</th>
          <th>Telefon Copil</th>
          <th>CNP Copil</th>
          <th>Data Creare</th>
        </tr>
      </tfoot>
      <tbody>
     </tbody>
    </table>
</div>
{% endblock %}