{% extends 'scannerapp/layout.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <div class="card">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-header text-center">
                        <h6>Incarca buletin</h6>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-12 text-center">
                                <input type="file" name="poza" id="poza">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row form-group">
                            <div class="col-12 text-center">
                                <input type="submit" class="btn btn-lg btn-success" value="Send">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}